body {
	font-family: 'Poppins', sans-serif;
	max-width: 1280px;
	margin: 0 auto;
	background-color: #adcce9ad;
	color: #333333;
	
}

body.modo-escuro {
	background-color: #0b0325;
	color: #f5f5f5;
}

header {
	display: flex;
	justify-content: space-between;
	padding: 25px;
}

header .logo,
header .imagem-botao {
	width: 30px;
	transition: 0.1s ease-in-out;
}

header #botao-alterar-tema {
	background: none;
	border: none;
}

header .logo:hover,
header .imagem-botao:hover,
main .cartao-pokemon:hover {
	transform: scale(1.05);
	cursor: pointer;
}

main {
	padding: 25px;
}

main .listagem-pokemon {
	display: flex;
	flex-wrap: wrap;
	gap: 30px;
	justify-content: center;
}

main .cartao-pokemon {
	background-color: #a5cdee;
	width: 200px;
	padding: 15px;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 15px;
	border-radius: 7px;
	transition: 0.3s ease-in-out;
}

main .cartao-pokemon:hover {
	box-shadow:  0 0 1em #0099ff, 0 0 5em #0051ff;
}

.modo-escuro .cartao-pokemon {
	background-color: #0e026e;
}

main .cartao-pokemon .informacoes {
	display: flex;
	justify-content: space-between;
	border: 1px solid #333333;
	border-radius: 7px;
}

main .cartao-pokemon .informacoes span {
	padding: 5px;
	text-transform: uppercase;
	font-size: 17px;
}

main .cartao-pokemon .gif {
	width: 90px;
	height: 90px;
}

main .cartao-pokemon .tipos {
	display: flex;
	gap: 15px;
}

main .cartao-pokemon .tipo {
	padding: 8px;
	border-radius: 7px;
}

.grama {
	background-color: #2f7904;
	box-shadow:  0 0 1em #4ee93a;
}

.veneno {
	background-color: #b952b8fb;
	box-shadow:  0 0 1em #b342a9;
}

.fogo {
	background-color: #d84747;
	box-shadow:  0 0 1em #ff8800;
}

.agua {
	background-color: #5797e0;
	box-shadow:  0 0 1em #00f7ff;
}

.inseto {
	background-color: #a6b91a;
	box-shadow:  0 0 1em #ffd700;
}

main .descricao {
	max-height: 80px;
	overflow-y: scroll;
	font-size: 14px;
	padding-right: 10px;
}
